.wp-block-ccnblocks-bg-title {
  width: 100%;
  height: 25rem;
  font-family: 'Josefin Sans', 'Helvetica Neue', 'Open Sans', 'Calibri', 'Trebuchet MS', 'sans-serif';
  font-size: 1.8rem;
  text-align: center;
  line-height: 25rem;
  font-weight: normal; }

/* in the editor, we display differently */
.editor-block-list__block-edit .wp-block-ccnblocks-bg-title {
  height: auto; }

.wp-block-ccnblocks-bg-title h3 {
  font-weight: normal;
}

@media screen and (min-width: 640px) {
  .wp-block-ccnblocks-bg-title h3 {
    font-weight: normal;
    font-size: 4rem;
  }
}

.wp-block-ccn-flash-words {
  /* background: #000;
    color: white; */ }

