
.types_infos_container ul {
    margin-top: -3rem;
    padding-top: 5rem;
    padding-bottom: 2rem;
    font-size: 1rem;
    margin-bottom: 0;
    box-shadow: #00000082 0 2px 3px;
}

/* ================================= */
/*    ELEMENTS D'INFOS PRATIQUES     */
/* ================================= */

.info_part_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.element {
    max-width: 70vw;
}

.element p {
    font-size: 1.3rem;
}

.element h3 {
    font-size: 2rem;
}

.info_part_img {
    width: 100%;
    height: 25rem;
    line-height: 25rem;
}