body {
    overflow-y: auto; overflow-x:hidden;
}

#content {
    /* margin-top: 11vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info_part_content {
    /* min-height: 100vh; */
    width: 100%;
    /* background: url('../img/carbon_texture.jpg'); */
    background-size: 1.5cm;
    color: white;
}


.types_infos_container {
    position: sticky;
    top: 10vh;
}

.types_infos_container ul {
    list-style: none;
    display: flex;
    padding: 10px 0;
    font-size: 0.7rem;
    justify-content: space-around;
    width: 100%;
    background: black;
    color: white;
    cursor: pointer;
}

.underline_bar {
    position: sticky;
    top: 0;
    height: 0.1cm;
    width: 100vw;
    background: black;
}

.underline_bar .mobile_bar {
    background: white;
    height: 100%;
    width: 25vw;
    position: relative;
}

.info_part_content {
    margin-bottom: 6rem;
}

.info_part_img {
    width: 100vw;
    height: 250px;
    color: white;
    font-size: 2rem;
    line-height: 250px;
    text-align: center;
}

.element {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 10vw;
    margin-top: 10vh;
}

.element p {
    margin-top: 0;
    text-align: justify;
    letter-spacing: 1px;
    line-height: 1.5rem;
}

.element img {
    height: 60px;
    width: 60px;
}

.element h3 {
    text-align: center;
}