html, body {
    overflow-y: scroll; overflow-x:hidden;
    background: black;
    width: 100vw;
}

h1.titre_page {
    position: sticky;
    top: calc(10vh - 1rem);
    z-index: 1500;
}

h2, h3 {
    color: white;
}

header {
    background: transparent;
}

.bg-title {
    height: 100%;
}

#content {
    margin-top: 13vh;
    /* padding-left: 1rem; */
    padding-bottom: 200px;
}

.carousel {
    position: relative;
    top: -9rem;
}

.carousel p {
    display: none;
}

.carousel h3.soustitre {
    margin: 0;
    padding: 2rem 2rem 5rem 2rem;
    background: linear-gradient(#ffffff00, #000000);
    font-size: 2rem;
}

.category_container h2, .category_container h3 {
    margin: 2rem 0px 1rem 0.3rem;
    font-size: 1rem;
    font-family: 'Helvetica Neue';
}

.card_container, .carres_list {
    display: flex;
    align-items: center;
    overflow-x: scroll;
    padding: 6px 0;
}

.card, .carre {
    user-select: none;
    width: 120px;
    min-width: 120px;
    height: 165px;
    margin: 0 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    transition: 0.2s;
}

.card.bestof, .carres_container.bestof .card {
    height: 38vh;
    width: 45vw;
    min-width: 45vw;
    margin: 0 1rem;
}

.card.focus {
    position: relative;
    top: -10px;
    width: 120px;
    height: 170px;
    transition: 0.2s;
}
.card.grow, .carre.grow {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    transition: 0.5s;
}

.card_title {
    font-size: 0.7rem;
    overflow-x: hidden;
    letter-spacing: 1px;
    height: 42px;
    padding-top: 10px;
    margin-bottom: -2px;
    text-align: center;
    color: var(--primary-color);
    line-height: 1.1rem;
    background: linear-gradient(transparent 0%, #000000 100%);
    transition: all 0.3s ease-in;
}

.card_title::before {
    content: "»";
    font-size: 1rem;
    display: block;
    margin-top: -10px;
}

.card.open > .card_title {
    height: 90%;
    background: linear-gradient(transparent 0%, #000000ad 20%, #000000 100%);
    transition: all 0.3s ease-in;
}

.card_descr {
    display: block;
    line-height: 0.9rem;
    margin-top: 0.5rem;
    width: 96%;
    margin-left: 2%;
    color: white;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s ease-in;
}

.card.open > .card_title > .card_descr {
    visibility: visible;
    opacity: 1;
}

.arrow {
    color: var(--gold);
    top: 4.5rem;
    display: none;
}

.carres_container.bestof .arrow {
    top: 10rem;
}

#card_details {
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -100;
    height: 100vh;
    width: 100vw;
    background: #aaaaff;
}
#card_details.open {
    z-index: 1000;
    opacity: 1;
    transition: 0.3s;
}